@model suity.Models.Product
@{
    ViewBag.Title = "";
}




<body>
   

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="about_top">
        <div class="container">
            <div class="col-md-3">
                <ul class="menu1">
                    <li class="item1">
                        <a class="">What To Buy ? </a>

                    </li>
                </ul>

                <div class="box1">
                    <ul class="box1_list">

                        <li><a href="~/Home/Sales">T-Shirts</a></li>

                    </ul>
                </div>

            </div>
            <div class="col-md-9 content_right">
                <div class="dreamcrub">
                    <ul class="breadcrumbs">

                        <li class="women">
                            ADD PRODUCT
                        </li>
                    </ul>
                    <ul class="previous">
                        <li><a href="~/Home/Index">Back to Home Page</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="register">

                    <div class="register-top-grid">
                        <h3>ADD PRODUCT</h3>

                        @using (Html.BeginForm("AdminPage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div>
                                <span>@Html.LabelFor(model => model.Id)<label>*</label></span>
                                @Html.EditorFor(model => model.Id)
                                @Html.ValidationMessageFor(model => model.Id)



                                <span>@Html.LabelFor(model => model.price)<label>*</label></span>

                                @Html.EditorFor(model => model.price)
                                @Html.ValidationMessageFor(model => model.price)

                                <span>@Html.LabelFor(model => model.image)<label>*</label></span>

                                @Html.TextBoxFor(m => m.image, new { type = "file", accept = "image/*" })
                                @Html.ValidationMessageFor(m => m.image)



                                <input type="submit" value="Submit">
                            </div>

                        }













                        <div class="clearfix"> </div>
                        <div class="register-but">


                            <div class="clearfix"> </div>

                            @{

                                if (ViewBag.Message == 4)
                                {
                                    <script language="javascript">
                                        alert("Incorrect info entered!");
                                    </script>
                                }
                            }


                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        </div>


</body>
